[Unit]
Description=emacs
After=graphical.target

[Service]
Type=forking
Environment=EMACS_INIT=full
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
