[Unit]
Description=Lock X session

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xss-lock sxlock
Restart=always

[Install]
WantedBy=window-manager.target