[Unit]
Description=tresorit
After=graphical.target

[Service]
ExecStart=/home/markus/.local/share/tresorit/tresorit --hidden
Restart=always

[Install]
WantedBy=default.target
